<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.system.brightness.mememini"
          android:versionCode="1"
          android:versionName="1.0">
    <overlay android:targetPackage="com.android.systemui" android:priority="1"/>

    <application android:label="@string/brightness_slider_mememini_title" android:hasCode="false"/>
</manifest>
